<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ShopApp.WEBUI</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/modules/bootstrap/dist/css/bootstrap.min.css" crossorigin="anonymous">

    <link rel="stylesheet" href="~/css/site.css" />
    @RenderSection("Css", false)

    <link rel="stylesheet" href="~/css/style.css">



    <title>ShopApp</title>
</head>
<body>


    <header>
        @await Html.PartialAsync("_navbar")
    </header>


    <main class="my-3">
        <div class="container">

            @if (TempData["message"] != null)
            {
                <partial name="_ResultMessage" model="@(TempData.Get<AlertMessage>("message"))" />
            }

            @RenderBody()
        </div>
    </main>

    <footer class="py-5 bg-dark text-white text-center">
        Shop App
    </footer>


    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    @RenderSection("Scripts", false)
</body>
</html>
