@model ShopApp.Entity.Product
@{
    ViewData["Title"] = "_Product";
}
<div class="card mb-2">
    <img class="card-img-top" src="~/img/@Model.ImageUrl" alt="">
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <small class="text-muted">
            <i class="fas fa-lira-sign"></i>@Model.Price
        </small>
    </div>
    <div class="card-footer text-center">
        <a asp-controller="shop" asp-action="Details" asp-route-url="@Model.Url" class="btn btn-primary btn-sm">Details</a>

        @if (User.Identity.IsAuthenticated)
        {
            if (!User.IsInRole("admin"))
            {
                <form asp-controller="Cart" asp-action="AddToCart" method="POST" style="display: inline;">
                    <input type="hidden" name="productId" value="@Model.ProductId">
                    <input type="hidden" name="quantity" value="1">
                    <button type="submit" class="btn btn-primary btn-sm">Add to Cart</button>
                </form>
            }
            if (User.IsInRole("admin"))
            {
                <form asp-controller="Home" asp-action="Index" method="POST" style="display: inline;">
                    <input type="hidden" name="productId" value="@Model.ProductId">
                    <input type="hidden" name="quantity" value="1">
                    <button type="submit" class="btn btn-primary btn-sm">Add to Cart</button>
                </form>
            }
        }
    </div>
</div>   