@model ShopApp.WEBUI.Models.ProductDetailModel 

    <div class="row">
        <div class="col-md-3">
            <img src="~/img/@Model.Product.ImageUrl" class="img-fluid">
        </div>
        <div class="col-md-9">
            <h1 class="mb-3">
                @Model.Product.Name</h5> <hr>

            @foreach (var item in Model.Categories)
            {
                <a asp-controller="shop" asp-action="list" asp-route-category="@item.Url" class="btn btn-link p-0 mb-3">@item.Name</a>
            }

            <div class="mb-3">
                <h4 class="text-primary mb-3">
                    <i class="fas fa-lira-sign"></i>@Model.Product.Price
                </h4>
                @if (!User.IsInRole("admin"))
                {
                    <form asp-controller="Cart" asp-action="AddToCart" method="POST" class="form-inline">
                        <input type="hidden" name="productId" value="@Model.Product.ProductId">
                        <div class="input-group mb-3">
                            <input type="number" name="quantity" class="form-control" value="1" min="1" step="1" style="width: 100px;">
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-primary">
                                    <i class="fas fa-cart-plus"></i>Add to Cart
                                </button>
                            </div>
                        </div>

                    </form>

                }
                @if (User.IsInRole("admin"))
                {
                    <form asp-controller="Home" asp-action="Index" method="POST" class="form-inline">
                        <input type="hidden" name="productId" value="@Model.Product.ProductId">
                        <div class="input-group mb-3">
                            <input type="number" name="quantity" class="form-control" value="1" min="1" step="1" style="width: 100px;">
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-primary">
                                    <i class="fas fa-cart-plus"></i>Add to Cart
                                </button>
                            </div>
                        </div>

                    </form>

                }

                </h6>
            </div>
    </div>
    <div class="row">
        <div class="col-md-12 p-5">
            <p class="p-3">@Html.Raw(Model.Product.Description)</p>
        </div>
    </div>
